.btn {
  width: 180px;
  font-size: 16px;
  padding: 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.black {
  background-color: #444;
  color: #fff;
}

.green {
  background-color: #4caf50;
  color: white;
}

.transparent {
  background-color: transparent;
  border: 1px solid #444;
  color: #444;;
}