.scrollBox {
  overflow: auto;
}

.scrollBox::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.scrollBox::-webkit-scrollbar-track {
  background: var(--color-outline2);
  border-radius: 4px;
}

.scrollBox::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
  border-radius: 4px;
}
