.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.dropdown {
    width: 50%;
    position: relative;
}

.dropdownToggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    cursor: pointer;  
    width: 100%;
}

.dropdownToggle::after {
    content: '';
    display: inline-block;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 7px solid black;
    border-right: 5px solid transparent;
    transform: translateY(5px)  rotate(90deg);
}

.brandContainer{ 
    position: absolute;   
    width: 500px;
    top: 40px;
    right: 0;
    border-radius: 5px;
    padding: 1rem;
    background-color: #fff;
    border: 2px solid #e2e2e2;
    
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.1);
}

.brandGrid { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    padding-right: 1rem;
}