.container {
  width: 600px;
}

.container h2 {
    font-size: 22px;
    color: var(--color-black);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.count {
  margin-left: 25px;
  font-size: 14px;
  color: var(--color-gray);
}

.count span {
  color: var(--color-red);
}

.resetBtn {
  font-size: 10px;
  background: transparent;
  border: 1px solid var(--color-outline1);
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 3px;
}

.list {
  border: 10px solid var(--color-outline2);
  padding: 15px 20px;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-height: 480px;
}

.empty {
    text-align: left;
    font-size: 12px;
    padding: 15px 20px;
}

.summary {
  background: var(--color-bg1);
  padding: 20px;
  padding-bottom: 0;
  border-radius: 15px;
  border: 10px solid var(--color-bg1);
  font-size: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.totalPrice {
  padding-top: 10px;
  border-top: 1px solid var(--color-outline1);
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  align-items: flex-end;
  color:var(--color-black);
}

.total {
  color: var(--color-red);
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}


.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.08);
    
    transition: all 0.25s ease;
}

.btns {
    display: flex;
    align-items: center;
}

.removeBtn {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-outline1);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 15px;
    transition: all 0.25s ease;
}
  
.removeBtn:hover {
    background-color: var(--color-header-bg);
    color: var(--color-white);
}

.fixCount{
    display: flex;
    align-items: center;
    border: 1px solid var(--color-outline1);
    border-radius: 3px;
}

.fixCount span {
    font-size: 12px;
    padding: 0 10px;
    border-left:1px solid var(--color-outline1);
    border-right: 1px solid var(--color-outline1);
}
.countBtn {
    padding: 0 6px;
    font-size: 14px;
}