.service{
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -10px;
  font-size: 12px;

  border-top: 1px solid var(--color-outline1);
  padding-top: 30px;

  text-align: left;
}

.service button {
  margin-left: 15px;
  border: 1px solid var(--color-outline1);
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 5px;
}