.productContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  
  transition: all 0.25s ease;
}

.product.add {
  cursor: default;
}

.product.add:hover {
  border: 2px solid var(--color-gray);
}

.product:hover {
  border: 2px solid var(--color-primary);
}

.product:hover .addBtn {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.addBtn {
  margin-right: 50px;
  width: 30px;
  height: 30px;
  border: 1px solid  var(--color-outline1);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

.disable {
  margin-right: 30px;
  padding: 0 10px;
  height: 30px;
  background-color: var(--color-gray);
  color: #fff;
  border-radius: 5px;
}
