.bannerSwiper {
   width: 100%;
   /* height: 390px; */
   height: auto;
}

.bannerSwiper .swiperSlide {
   display: flex;
   justify-content: center;
   align-items: center;
}

.bannerSwiper img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}

@media (max-width: 768px) {
   .bannerSwiper {
      aspect-ratio: 4 / 1;
   }

   .bannerSwiper img {

      object-fit: contain;

   }

}