.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.pageWrapper {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
}