:root {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-white: #fff;
  --color-black: #000;
  --color-red: #E10000;
  --color-gray: #999999;

  --color-text-disabled: #AAA;

  --color-header-bg: #494949;
  --color-primary: #343a40;
  --color-point: #65a475;
  --color-outline1: #DDD;
  --color-outline2: #F0F0F0;
  --color-bg1: #F8F8F8;

  
  color-scheme: light;
  color: var(--color-primary);
  background-color: #f9fafb;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  outline: none;
}

input {
  font-family: inherit;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}